<template>
  <div id="app">
    <chat-history></chat-history>
    <chat-box></chat-box>
  </div>
</template>

<script>
import ChatBox from './guide/ChatBox';
import ChatHistory from './guide/ChatHistory';

export default {
  name: 'app',
  components: {
    'chat-box':ChatBox,
    'chat-history':ChatHistory
  }
}
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background-color:blue;
}

</style>
