<template>
  <div class="content">
    <button class="btn btn-warning" v-on:click="getInput()">Get a Quote</button>
<ul v-if="posts && posts.length">
    <li v-for="post of posts">
      <p><strong>{{post.index}}</strong></p>
      <p>{{post.guid}}</p>
    </li>
  </ul>

  <ul v-if="errors && errors.length">
    <li v-for="error of errors">
      {{error.message}}
    </li>
  </ul>

   <!--  <h3>Binding Example1</h3><br>
    <button class="btn btn-warning" v-on:click="getInput()">Get a Quote</button>
    <code>{{inputValue}}</code>
    <form>
      <input type="text" v-model="job_title">
      <textarea v-model="job_description"></textarea>
      <button @submit.prevent="addJob">Submit</button>
    </form> -->
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'binding-example',
  data: () => ({
    posts: [],
    errors: []
  }),
methods: {
      getInput() {

        axios.get('/GroupChat/getString')
         .then(response => {
      // JSON responses are automatically parsed.
        this.posts = response.data
        })
        .catch(e => {
          this.errors.push(e)
        });
        /* , (data) => {
            this.inputValue = data;
             console.log($data);
          }, {
            
          }) */
        
      }
    }
}
</script>

<style>
  .content {
    width: 100%;

  }
  .card {
    margin: 1rem;
    padding: 1.5rem;
    box-shadow: 0px 1px 3px grey;
  }
</style>
