<template>

<div class="chatBox">
  <section class="textInput">
    <input type="text" placeholder="User Name" autofocus class="usertext" v-model="user">
    <input type="text" autofocus class="text-input" v-model="message">
    <button class="button" v-on:click="postPost" >Send</button>
  </section>
</div>
      <!--  <button class="btn btn-warning" v-on:click="getInput()">Get a Quote</button> -->
    <!--<ul v-if="messages && messages.length">
        <li v-for="message of messages">
          <p><strong>{{message.index}}</strong></p>
          <p>{{message.guid}}</p>
        </li>
      </ul>

      <ul v-if="errors && errors.length">
        <li v-for="error of errors">
          {{error.message}}
        </li>
      </ul> -->

      <!--  <h3>Binding Example1</h3><br>
        <button class="btn btn-warning" v-on:click="getInput()">Get a Quote</button>
        <code>{{inputValue}}</code>
        <form>
          <input type="text" v-model="job_title">
          <textchatBox v-model="job_description"></textchatBox>
          <button @submit.prevent="addJob">Submit</button>
        </form> -->
</template>

<script>
import axios from 'axios';
export default {
  name: 'chat-box',
  data: () => ({
    message: '',
    user: '',
    rdate:  '',
    errors: []
  }),
   methods: {
      postPost: function() {     
          if (this.message) {
            console.log(this.message)
            console.log(new Date().toLocaleString())
            console.log(this.user)
            //const dat = JSON.stringify({"data":{"message":this.newMessage, "id":this.newUser,"rdate":new Date().toLocaleString()}})
            axios.post('/GroupChat/sendMessage',
             {
               message: this.message,
               id:this.user,
               rdate:new Date().toLocaleString()
             } , 
             function(data) {

              var json = JSON.parse(data);
              //...

            })
            .then(response => {})
            .catch(e => {
              this.errors.push(e)
            });
            this.message = ''
          }
          }
}
}
</script>

<style>
  body,html
{
  font-family:tahoma;
  line-height:30px;
  padding:0px;
  margin:0px;
}
.text-input
{
  text-align: left;
  padding:  0.4em;
  width: 18.5%;
  padding-bottom:100px;
  overflow-y:scroll;
  border-radius: 8px;
  right: 4%;
  position: absolute;
}
.usertext
{
  text-align: left;
  padding:  0.4em;
  padding-bottom:4px;
  width: 100px;
  border-radius: 8px;
  float: left;
  top: 7%;
  right: 25%;
  float: left;
  position: absolute;
}
.header
{
  font-size:26px;
  margin:0 auto;
  text-align:center;
  color:#9F6905;
  font-weight:lighter;
  background-color:#f0f0f0;
  height:500px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    float: left;
    position: absolute;
    right: 26%;
    top: 16.5%;
}
 
.container
{
  width:20%;
  cursor:default;
  margin: auto;
  max-height:700px;
  overflow-y:scroll;
  float:left;
}
.container::-webkit-scrollbar 
{
width: 3px;
max-width: 3px;
height: auto;
max-height: 8px;
}
.container::-webkit-scrollbar-thumb 
{
background: #f0f0f0;
border-radius: 5px;
max-width: 3px;
}
.container::-webkit-scrollbar-track {
background: #9F6905;
  border-radius:5px;
}
.chatBox
{
  margin:0 auto;
  width:30%;
  display:table;
  padding:5px;
  border-radius:5px;
  margin-bottom:10px;
  float: right;
}
.L
{
  float:left;
}
img
{
  width:50px;
  height:50px;
  border-radius:50%;
  border:2px solid #f0f0ff;
  padding:5px;    
}
img:hover
{
    -moz-box-shadow: 0 5px 5px rgba(223, 120, 8, 1);
-webkit-box-shadow: 0 5px 5px rgba(223, 120, 8, 1);
box-shadow: 0 5px 5px rgba(223, 120, 8, 1);
       -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
}
.R
{
    float:right;
}
.text
{
  color: #a4a4a4;
font-family: tahoma;
font-size: 13px;
  font-weight:lighter;
line-height: 30px;
  width:300px;
  border:1px solid #f0f0f0;
  background-color:rgba(255, 255, 255, 0.6);
  margin-top:10px;
  border-radius:5px;
  padding:5px;  
}
.chatBox textchatBox
{
  font-size:12px;
  width:90%;
  max-width:90%;
  min-width:90%;
  padding:5%;
  border-radius:5px;
  border:1px solid #f0f0f1;
  max-height:50px;
  height:50px;
  min-height:50px;
  background-color:#333;
  color:#fff;
  outline:none;
  border:1px solid transparent;
  resize:none;
}
.chatBox textchatBox:focus
{
  color:#333;
  border:1px solid #ccc;
     -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
  background-color:#fff;
}
.chatBox .note
{
  color:#9F6905;
  font-size:10px;
}
.R .tooltip
{
  font-size:10px;
  position:absolute;
  background-color:#fff;
  padding:5px;
  border-radius:5px;
  border:2px solid #9F6905;
  margin-left:70px;
  margin-top:-70px;
  display:none;
  color:#545454;
}
.R .tooltip:before
{
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-right-color: #9F6905;
    margin-top: 10px;
    margin-left: -17px;
}
.R:hover .tooltip
{
  display:block;
}

.L .tooltip
{
  font-size:10px;
  position:absolute;
  background-color:#fff;
  padding:5px;
  border-radius:5px;
  border:2px solid #9F6905;
  margin-left:70px;
  margin-top:-70px;
  display:none;  
  color:#545454;
}
.L .tooltip:before
{
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-right-color: #9F6905;
    margin-top: 10px;
    margin-left: -17px;
}
.L:hover .tooltip
{
  display:block;
}
a
{
  text-decoration:none;
}


.chatBox input[type=button]
{
  font-size:12px;
  padding:5px;
  border-radius:5px;
  border:1px solid #f0f0f1;
  background-color:#333;
  color:#fff;
  outline:none;
  border:1px solid transparent;
  float:left;
}
.chatBox input[type=button]:hover
{
  color:#fff;
  border:1px solid #ccc;
     -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
  background-color:#9F6905;
} 
.validation
{
  float:left;
  background-color:#ccc;
  border-radius:5px;
  padding:5px;
  font-size:12px;
  line-height:14px;
  height:0px;
  margin-left:5px;
  display:none;
}
br
{
  clear:both;
  height:20px;
}
</style>
