<template>
  <div>
    All your html goes here
  </div>
</template>

<script>
// Import what you need here

// Everything else is placed in the export statement
// Only the name property is needed below!
export default {
  // Name of component in lowercase, kabob-case
  name: 'html-name',

  // Data function that returns all the initial state data.
  data () {
    return {
      msg: 'Hello World'
    }
  },

  // Props: Properties and values that are passed from parent to child through template
  // Parents will pass properties like this: <child my-name="nick" age="9"></child>
  // Parents will pass changing data using v-bind: <child v-bind:my-name="someVar" age="9"></child>
  // Props are bound to 'this'
  props: ['myName', 'age'],

  // Use computed values when they rely on dependencies to update them
  computed: {
    lowerCasedName () {
      return this.myName.toLowerCase();
    }
  },

  // Methods are placed here and accessed directly by name in html or in js: this.methodName()
  methods: {
    methodsGoHere() {
      return true;
    }
  }
}
</script>

<style scoped>
  .all-your-styles-go-here {
    color: red;
  }
</style>
